 body{
    font-family: "Microsoft Yahei";
    background: #ccc;
  }
  .firstSection{
    text-align: right;
    background: #000;
    height: 60px;/*父元素高度确定的单行文本设置垂直居中*/
    line-height: 60px;
  }
  .firstSection ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
  }
  .firstSection li{
    margin-right: 8px;
    display: inline;
  }
  .firstSection a{
    color:#fff;
    font-weight:bold;
    font-size: 12px;
  }
  .firstSection img{
    float: left;
  }
  #all div{
    padding: 10px;
    margin: 10px;
    background: #fff;
  }
.firstArticle p{
  font-size: 14px;
  text-indent: 2em;
}
.firstArticle a{
  color: blue;
}
.secondArticle p{
  font-size: 14px;
  text-indent: 2em;
}
.secondArticle a{
  color: blue;
}
.secondArticle ul{
 list-style: none;/*除去li前的点*/
}
.pictureSection div{
   border: 1px solid #ccc;
   padding: 10px;
   margin: 10px;
   
}

th{
  background-color: #000;
  color:#fff;
  text-align: left;
}
.table1{
  border-collapse:collapse;/*合并表格边框*/
  width: 100%;
}
.table1 td{
   border: 1px solid #ccc;
}
.sum{
  background: #ccc;
}
.right{
  text-align: right;
}
.footer{
    background: #000;
    height: 60px;
    line-height: 60px;
    text-align: center;

  }
  .footer span{
    color:#fff;
    font-weight:bold;
    font-size: 12px;
  }
  .button{
    border: none;
    height: 40px;
    width: 90%;
    background: blue;
    color: #fff;
  }
  .submit{
    text-align: center;
  }
  textarea{
    width: 600px;
    height: 100px;
  }
  .notice{
    color: #ccc;
    font-size: 12px;
  }